<% include header.ejs %>
<div class="table-wrapper">
    <table class="table table-hovered">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Middle Name</th>
                <th scope="col">Profession</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><%= contact.id %></td>
                <td><%= contact.nameFirst %></td>
                <td><%= contact.nameLast %></td>
                <td><%= contact.nameMiddle %></td>
                <td><%= contact.profession %></td>
            </tr>
        </tbody>
    </table>
    <table class="table table-hovered">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Email Address</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Street Address</th>
                <th scope="col">City</th>
                <th scope="col">State</th>
                <th scope="col">Zip Code</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><%= contact.emailAddress %></td>
                <td><%= contact.numPhone %></td>
                <td><%= contact.streetAddress %></td>
                <td><%= contact.cityAddress %></td>
                <td><%= contact.stateAddress %></td>
                <td><%= contact.zipCode %></td>
            </tr>
        </tbody>
    </table>
    <div class="row">
        <h2 class="col-md-3">Photos</h2>
        <div class="col-md-2">
            <a href="/view/<%= contact.id %>/add" target="_blank" rel="noopener" class="btn btn-sm btn-success">Add
                Photo</a>
        </div>
    </div>
    <div class="row picsBox">
        <% photos.forEach((photo, index) => { %>
        <img src="<%= photo.source %>">
        <% }) %>
    </div>
</div>
</div>
</body>

</html>